/* Палітра*/
/*Основний крлір тексту  #212121 */
/*Вторинний колір тексту #757575 */
/*Вторинний колір тексту #000000 */
/* Акцентний колір #2196F3 */
/* Акцентний колір #188CE8 */
/* Основний колір фону #FFFFFF */
/* Вторинний колір фону #2F303A */
/* Вторинний колір фону #EEEEEE */
/* Колір фону кнопок #F5F4FA */
/* Колір посилань rgba(255, 255, 255, 0.6)*/
/* #ECECEC */

:root {
  --main-text-color--: #212121;
  --ouwer-text-color--: #757575;
  --logo-color-text--: #000000;
  --accent-first-color--: #2196f3;
  --accent-second-color--: #188ce8;
  --background-color--: #ffffff;
  --background-footer-color--: #2f303a;
  --little-bg-color--: #f5f5f5;
  --buttons-port-color--: #f5f4fa;
  --conteiner-color--: #eeeeee;
  --footer-text-color--: rgba(255, 255, 255, 0.6);
  --background-section--: #e5e5e5;
  --line-color--: #ececec;
  --icon-color--: #afb1b8;
  --main-font--: Roboto, sans-serif;
}

body {
  background-color: var(--background-color--);
  color: var(--main-text-color--);
  font-family: var(--main-font--);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  text-decoration: none;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.title {
  margin-bottom: 50px;

  color: var(--main-text-color--);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.link--animation:hover,
.link--animation:focus {
  color: var(--accent-first-color--);
}
.link--animation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header */

.header {
  border: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__var-text {
  color: var(--logo-color-text--);
}
.logo {
  color: var(--accent-first-color--);

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header__logo {
  margin-right: 93px;
}
/* Nav */
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;

  display: block;
  padding: 32px 0;

  color: var(--main-text-color--);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link--current {
  color: var(--accent-first-color--);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;

  border-radius: 2px;
  background-color: var(--accent-first-color--);
}
.nav__link--current:hover,
.nav__link--current:focus {
  color: var(--accent-second-color--);
}

/* Contact */

.contact {
  display: flex;
  margin-left: auto;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact__link {
  display: flex;
  align-items: center;

  color: var(--ouwer-text-color--);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Студія */

/* Main content */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-color: var(--background-footer-color--);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--background-color--);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  padding: 10px 32px;
  margin: 0 auto;

  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus {
  background-color: var(--accent-second-color--);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features__list {
  display: flex;
}
.features__item {
  width: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--buttons-port-color--);
  width: 270px;
  height: 120px;
}
.features__caption {
  margin-bottom: 10px;

  color: var(--main-text-color--);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__description {
  color: var(--ouwer-text-color--);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Direction */

.direction {
  padding-bottom: 94px;
}
.direction__list {
  display: flex;
}
.direction__item:not(:last-child) {
  margin-right: 30px;
}
.direction__overley {
  position: relative;
}
.overley__nick {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color--);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */

.teammates {
  display: flex;
}
.team {
  background-color: var(--buttons-port-color--);
}
.teammates__card {
  text-align: center;
  background-color: var(--background-color--);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teammates__card:not(:last-child) {
  margin-right: 30px;
}
.teammate__inform {
  padding-top: 30px;
  padding-bottom: 30px;
}
.teammate__name {
  margin-bottom: 10px;

  color: var(--main-text-color--);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.teammate__profession {
  margin-bottom: 16px;

  color: var(--ouwer-text-color--);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.social-profiles {
  display: flex;
  justify-content: center;
}
.social-profiles__item:not(:last-child) {
  margin-right: 10px;
}
.social-profiles__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--icon-color--);
  background-color: var(--background-color--);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-profiles__icon {
  fill: currentColor;
}
.social-profiles__link:hover,
.social-profiles__link:focus {
  color: var(--background-color--);
  background-color: var(--accent-first-color--);
}

/* Clients */

.clients__list {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: inline-flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  fill: var(--icon-color--);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-first-color--);
  fill: var(--accent-first-color--);
}

/* Footer */

.footer__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color--);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-footer-color--);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__main {
  margin-right: 70px;
}
.footer__var-text {
  color: var(--background-color--);
}
.address {
  margin-top: 20px;

  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__map {
  color: var(--background-color--);
  line-height: 1.7;
}
.address__contact {
  color: var(--footer-text-color--);
  line-height: 1.7;
}

/* Social */

.footer__social {
  margin-right: auto;
}
.social__text {
  margin-bottom: 20px;
}
.social__list {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--background-color--);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: currentColor;
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-first-color--);
}

/* Subscription */

.subscription__text {
  margin-bottom: 20px;
}
.subscription__form {
  display: flex;
}
.subscription__field {
  margin-right: 12px;
}
.subscription__input {
display: block;
padding: 15px 16px;

width: 358px;
height: 50px;

background-color: inherit;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: var(--background-color--);

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__input:focus {
  border-color: var(--accent-first-color--);
  outline: none;
}
.subscription__input::placeholder {
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: var(--footer-text-color--);
}
.subscription__button {
  display: flex;
  align-items: center;
  padding: 10px 28px;

  color: var(--background-color--);
  background-color: var(--accent-first-color--);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__button:hover,
.subscription__button:focus {
  background-color: var(--accent-second-color--);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.subscription__icon {
margin-left: 10px;
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  pointer-events: initial;
  visibility: visible;

  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

/* Modal-window */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--background-color--);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms linear;
}
.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color--);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover,
.modal__button-close:focus {
  fill: var(--accent-first-color--);
}
.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color--);
}
.form-group {
  margin-bottom: 20px;
}
.form-group__field {
  position: relative;

  display: flex;
  flex-direction: column;
}
.form-group__field:not(:last-child) {
  margin-bottom: 10px;
}
.form-group__label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--ouwer-text-color--);
}
.form-group__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group__input:focus {
  border-color: var(--accent-first-color--);
  outline: none;
}
.form-group__icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group__input:focus + .form-group__icon {
  fill: var(--accent-first-color--);
}
.form-group__area {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__area:focus {
  border-color: var(--accent-first-color--);
  outline: none;
}
.form-group__area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-agreement {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  cursor: pointer;
}
.form-agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-agreement__icon {
  display: inline-block;
}
.form-agreement__icon > .check {
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agreement__icon > .not-check {
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agreement__checkbox:checked + .form-agreement__icon > .check {
  opacity: 1;
}
.form-agreement__checkbox:checked + .form-agreement__icon > .not-check {
  opacity: 0;
}
.form-agreement__text {
  margin-left: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--ouwer-text-color--);

  user-select: none;
}
.accept-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-first-color--);
}
.form-button {
  margin: 0 auto;
  padding: 10px 52px;

  color: #ffffff;
  background-color: var(--accent-first-color--);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--accent-second-color--);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Портфоліо */

/* product filter */

.portfolio__filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__buttons {
  padding: 6px 22px;

  color: var(--main-text-color--);
  background-color: var(--buttons-port-color--);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__buttons:hover,
.filter__buttons:focus {
  color: var(--background-color--);
  background-color: var(--accent-first-color--);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* product list */

.product {
  display: flex;
  flex-wrap: wrap;
}
.product__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.product__item:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.product__link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover,
.product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__inform {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.product__title {
  margin-bottom: 4px;

  color: var(--main-text-color--);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.product__type {
  color: var(--ouwer-text-color--);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.product__thumb {
  position: relative;
  overflow: hidden;
}
.product__actions {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover .product__actions,
.product__link:focus .product__actions {
  transform: translateY(0);
}
.product__text {
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: transparent;
  background-color: rgba(33, 150, 243, 0.9);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
.product__link:hover .product__text,
.product__link:focus .product__text {
  color: var(--background-color--);
}